.booking_section{
    .selection_label{
      background: #ff49fe;
  border-radius: 40px;
  color: #fff;
  display: block;
  cursor: context-menu;
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  padding: 14px 0;
  top: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  z-index: 999;
    }

    .selection_panel{
      margin-left: 30%;
    padding: 30px;
    }

    .item_Quantity {
        color: #443017;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #b7b7b7;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-weight: 300;
        min-width: 45px;
        height: 30px;
        padding-left: 2px;
        margin: 0;
        text-align: center;
        width: 70px;
        margin-right:20px;
        margin-bottom:20px;
    }

    input[type=number]::-webkit-inner-spin-button {
      opacity: 1;
    }
  }