.HomePage{
  .Header {
    position: relative;
    z-index: 9999;
    background-color: #222;

    img{
      height: 30px;
    padding: 10px;
    }

    label[for=shopping-cart] {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 2;
      height: 30px;
      width: 30px;
      cursor: pointer;
      background-image: url('./s.png');
      background-size: contain;
  }
  }
  .clearfix {
    clear: both;
  }

  .carousel{
    background-image: url('./carousel.jpg');
    width:100%;
    height: 500px;

    .content-section {
      position: absolute;
      width: 600px;
      left: 30px;
      right: 0;
      top: 170px;

      h1,h2{
        padding:10px;
        color:white;
        background-color: black;
        font-size: 30px;
        text-transform: uppercase;
        font-family: Raleway,sans-serif;
      }

      h3{
        color:white;
        font-size: 20px;
      }
  }


  }

  .cartQuantity{
    background-color: #ff49fe;
    border-radius: 40px;
    text-align: center;
    padding: 5px;
    display: block;
    position: absolute;
    right: 40px;
    top: 15px;
    z-index: 2;
    height: 15px;
    width: 15px;
    background-size: contain;
  }


}